@model IEnumerable<ExamenFinalVersio.Models.ConsommationCarburant>

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="@Url.Action("Create", "ConsommationCarburant")" class="menu-link">
        <i class="menu-icon tf-icons bx bx-add-to-queue"></i>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ConsommationCarburant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Immatricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeGasoil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixBon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRemplissage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometrage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ConsommationCarburant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Immatricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeGasoil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixBon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRemplissage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometrage)
        </td>
        <td>
            <a href="@Url.Action("Edit", "ConsommationCarburant", new { id = item.ID_ConsommationCarburant })">
                <i class="menu-icon tf-icons bx bx-edit-alt"></i>
            </a>

            <a href="@Url.Action("Details", "ConsommationCarburant", new { id = item.ID_ConsommationCarburant })">
                <i class="menu-icon tf-icons bx bx-show"></i>
            </a>

            <a href="@Url.Action("Delete", "ConsommationCarburant", new { id = item.ID_ConsommationCarburant })">
                <i class="menu-icon tf-icons bx bx-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
