@model IEnumerable<ExamenFinalVersio.Models.Paiement>

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="@Url.Action("Create", "Paiement")" class="menu-link">
        <i class="menu-icon tf-icons bx bx-add-to-queue"></i>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Paiements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mois)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Montant)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Paiements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mois)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Montant)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Paiement", new { id = item.ID_Paiements })">
                <i class="menu-icon tf-icons bx bx-edit-alt"></i>
            </a>

            <a href="@Url.Action("Details", "Paiement", new { id = item.ID_Paiements })">
                <i class="menu-icon tf-icons bx bx-show"></i>
            </a>

            <a href="@Url.Action("Delete", "Paiement", new { id = item.ID_Paiements })">
                <i class="menu-icon tf-icons bx bx-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
